body{
    
 background-color:#000000;
 color:#ffffff;
    
}



.div{

 border:0;
 padding:0;
 width: 100%;
 height: 100%;
    
/*min-width: 1000px; might be needed for research pages */
/*min-height: 1000px  might be needed for research page */

}


.parent{

  display:flex;



}


.fashion{

   flex:1; 
   display: flex;
   text-decoration: none;
   justify-content: space-between;


}

.fashion p{
    padding-top: 300px;
    
    
    
}

.fash p{
    padding-top:375px;
    
}

fash h1{
    
    padding-left: 500px;
    flex:1; 
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}


.nav {

    list-style-type: none;
    color:#ffffff;
    line-height: 1.5;
    text-transform:uppercase;



} 

.nav li{
    
    display: block;
    list-style-type: none;
    padding: 2%;
    text-transform:uppercase;
    
}


.navi {

     list-style: none;
     color:#ffffff;
     line-height: 1.5;
     padding-left:1750px;
     text-transform:uppercase;
    }


.navi li{
    
    display: block;
    list-style-type: none;
    text-transform:uppercase;
    
}


ul a {
    
    color:#ffffff;
    list-style-type: none;

}

h1{

     text-transform:uppercase;
     text-align:right;
     font-weight: 800;

}

.test h1{
        
    text-transform: uppercase;
    text-align:center;
        
     
    }


.fashion img{

   max-width: 100%;
   max-height: 500px;

}

p{
    
  padding-right: 5%;
    
}

.machine p{
 
   padding-top:200px;    
   padding-left:100px;
    
}
 
    
    

.mach p{
 
  padding-left:1500px;
  text-align:center;
    
}

.mach img {
    
  max-width: 100%;
  max-height: 500px;

    
}

.youtube {
    
   display:flex;
   justify-content:space-between;
   flex-direction:
   color: #000000;
}

.youtube img {
    
    
    max-width: 100%;
    max-height: 500px;
}


.affect {
    
   display:flex;
   justify-content:space-between;
   flex-direction:row;
   color: #000000;
   width: 100%;
    
}


.affect img {
    
    max-width: 100%;
    max-height: 600px;
    width: 50%;
    

}

.sign{
    
    padding-bottom:100px;
}


.email{
    
    
    padding-left: 32px;
}

.submit{
    
  padding-left: 125px;
    
}

.cover{
   
    width:100%;
    
    }




.video img{
    
    display:flex;
    flex-direction: column;
    justify-content:center;
    padding-left: 1350px;
    max-width: 100%,
    max-height:500px;
    
}

.container h1{
    
   padding-right: 800px;
   text-align:inherit;
}


form {
    
    padding-left: 40px;
    
     
        
}



.contain{
    
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    max-width: 100%;
    max-height: 500px;
}

.square{
    
    height: 94%;
    width: 94%;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -47% 0 0 -47%;
}

.black{ 
    
    background: black;  
    animation: rotate 10s infinite linear; 
}

@keyframes rotate{
  0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }  
    

    
